.section1 {
    display: grid;
    grid-template-columns: 50% 50%;
    background: $white;

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
    }
    
    .store-text {
        border: 1px dashed $color1;
        margin: 15px;
        padding: 30px 15px;

        h2 {
            font-family: $fontdeco;
            font-size: 2rem;
            font-weight: 500;
            color: $color1;
        }
        h3 {
            font-family: $fonttitle;
            margin-top: -12px;
        }
        img {
            margin: 26px;
        }
        p {
            font-weight: 100;
        }
        img:nth-of-type(2) {
            height: 70px;
            border-radius: 50px;
            margin-bottom: 8px;
        }
        h4 {
            font-family: $fonttitle;
            font-weight: 100;
        }
        h5 {
            font-size: 0.7rem;
            color: $grey;
        }
    }
    .store-img {
        background: url(../img/store-01.jpg) center/cover;

        @media screen and (max-width: 700px) {
            display: none;
        }
    }
}