.section2 {
    color: $white;
    padding-bottom: 100px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 620px;
        width: 100%;
        background: url(../img/bg-menu-01.jpg) center/cover;
        left: 50%;
        bottom: -330px;
        transform: translate(-50%, -50%);
    }
    h2 {
        font-family: $fontdeco;
        color: $color1;
        font-size: 2rem;
        font-weight: 500;
        padding: 60px 0 30px;
    }
    ul {
        @include alignChildren(space-around);
        width: 50%;
        margin: 30px auto;
        min-width: 500px;

        @media screen and (max-width: 700px) {
            min-width: 200px;
            width: 90%;
            font-size: 0.65rem;
        }

        li {
            border-bottom: 1px solid $grey;
            padding-bottom: 8px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid $color1;
                transform: scale(1.1);
            }
        }
    }

    .plats {
        background: $white;
        color: $black;
        width: 85%;
        max-width: 800px;
        margin: auto;
        padding: 15px 0;
        border-top: 4px solid $color1;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        z-index: 100;

        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr;
        }

        .plat {
            display: grid;
            align-items: center;
            grid-template-columns: 25% 60% 15%;
            border-bottom: 1px dashed $grey;
            padding: 30px 0;
            margin: 0 20px;

            img {
                border-radius: 250px;
                object-fit: cover;
                width: 100%;
            }
            .plat-text {
                text-align: left;
                margin: 0 10px;

                h3 {
                    text-transform: uppercase;
                    color: $black;
                    font-size: 0.8rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                p{
                    font-weight: 200;
                }
            }
            > p {
                color: $color1;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }
}