@font-face {
  font-family: "Peridia-Light";
  src: url(../assets/Peridia_display/Peridia-Display-Light.ttf);
}
@font-face {
  font-family: "Peridia-Regular";
  src: url(../assets/Peridia_display/Peridia-Display-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
}

body {
  font-family: Helvetica;
  font-weight: 300;
  color: #000000;
}

header {
  min-height: 100vh;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}
header nav #name {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 700;
  margin: 0 3%;
  font-size: 1.75rem;
  width: 280px;
  -webkit-animation: text-growth linear;
          animation: text-growth linear;
  animation-timeline: scroll();
  animation-range-end: 400px;
}
@-webkit-keyframes text-growth {
  0% {
    width: 94%;
    top: -20px;
  }
  100% {
    width: 280px;
    top: 0;
  }
}
@keyframes text-growth {
  0% {
    width: 94%;
    top: -20px;
  }
  100% {
    width: 280px;
    top: 0;
  }
}
header nav .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-transition: 1s;
  transition: 1s;
  right: 0;
  gap: 74px;
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 57px;
  -webkit-animation: nav-opacity linear;
          animation: nav-opacity linear;
  animation-timeline: scroll();
  animation-range-end: 400px;
}
@-webkit-keyframes nav-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes nav-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header nav .nav-btn a {
  color: #a7a7a7;
}
header nav .nav-btn a:hover {
  color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .nav-btn .active {
  color: #000000;
}
header .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65vh;
}
header .description p {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
}
header .description p sup {
  font-size: 1rem;
}
header .description img {
  width: 60px;
  margin-top: 60px;
}

footer {
  bottom: 38px;
  left: 3%;
  position: fixed;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer a {
  color: #000000;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-weight: 700;
}

#projects {
  min-height: 100vh;
}
@media screen and (max-width: 500px) {
  #projects {
    min-height: 135vh;
  }
}
#projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 200px;
  margin: 0 44px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 52px;
}
@media screen and (max-width: 1200px) {
  #projects .project-container {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media screen and (max-width: 500px) {
  #projects .project-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 20px;
  }
}
#projects .project-container .div {
  -webkit-animation: fade-in linear;
          animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 250px;
}
@-webkit-keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
#projects .project-container .div h2 {
  color: #000000;
  font-family: "Peridia-Light", cursive;
  font-size: 3.875rem;
  font-weight: 300;
}
@media screen and (max-width: 1500px) {
  #projects .project-container .div h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1200px) {
  #projects .project-container .div h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  #projects .project-container .div h2 {
    font-size: 2rem;
  }
}
#projects .project-container .div h2:hover {
  color: #00ff85;
}
#projects .project-container .div h2 sup {
  font-family: Helvetica;
  font-size: 1.75rem;
  font-weight: 300;
}
@media screen and (max-width: 1500px) {
  #projects .project-container .div h2 sup {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1200px) {
  #projects .project-container .div h2 sup {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  #projects .project-container .div h2 sup {
    font-size: 0.8rem;
  }
}
#projects .project-container .image {
  width: 444px;
  visibility: hidden;
  z-index: -20;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */