header {
  min-height: 100vh;

  nav {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    margin: 40px 0;

    #name {
      position: relative;
      transition: 1s;
      font-weight: 700;
      margin: 0 3%;
      font-size: 1.75rem;
      width: 280px;

      animation: text-growth linear;
      animation-timeline: scroll();
      animation-range-end: 400px;

      @keyframes text-growth {
        0% {
          width: calc(100% - 6%);
          top: -20px;
        }
        100% {
          width: 280px;
          top: 0;
        }
      }
    }
    .nav-btn {
      display: flex;
      position: fixed;
      transition: 1s;
      right: 0;
      gap: 74px;
      font-weight: 700;
      font-size: 1.75rem;
      margin-right: 57px;

      animation: nav-opacity linear;
      animation-timeline: scroll();
      animation-range-end: 400px;

      @keyframes nav-opacity {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      a {
        color: $grey;

        &:hover {
          color: $black;
          transition: 0.2s;
        }
      }
      .active {
        color: $black;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65vh;

    p {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 300;
    }

    img {
      width: 60px;
      margin-top: 60px;
    }
  }
}

footer {
  bottom: 38px;
  left: 3%;
  position: fixed;
  transition: 0.5s ease-in;
  opacity: 0;
  display: flex;
  flex-direction: column;

  a {
    color: $black;
    font-family: $font2;
    font-size: 1.75rem;
    font-weight: 700;
  }
}
