$font1: "Inter", sans-serif;
$font2: "Merriweather", serif;
$white: rgb(243, 243, 243);
$black: rgb(17, 17, 17);
$gray1:rgb(209, 209, 209);
$gray2: rgb(233, 233, 233);
$gray3: rgb(105, 105, 105);

@mixin title {
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
a, a:visited {
    color: $white;
}
body {
    background: url(../img/bg.jpg) fixed center/cover;
    text-align: center;
    font-family: $font2;
    max-width: 1300px;
    margin: auto;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black;
        animation: animBefore 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefore {
            to {
                opacity: 0;
            }
        }
    }
}
.btn {
    background: none;
    border: 1px solid $black;
    width: 45px;
    width: 170px;
    font-size: 0.75rem;
    cursor: pointer;
    @include title;
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}