* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a, a:visited {
  color: rgb(243, 243, 243);
}

body {
  background: url(../img/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: "Merriweather", serif;
  max-width: 1300px;
  margin: auto;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

.btn {
  background: none;
  border: 1px solid rgb(17, 17, 17);
  width: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header {
  color: rgb(243, 243, 243);
  position: relative;
  min-height: 100vh;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .header-content h1 {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
}
@media screen and (max-width: 700px) {
  header .header-content h1 {
    font-size: 2rem;
  }
}
header .header-content p {
  margin: 40px auto 60px;
  font-style: italic;
  width: 85%;
}
header .header-content span {
  border: 2px solid rgb(243, 243, 243);
  border-radius: 50px;
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(240, 240, 240, 0.25);
  color: rgb(243, 243, 243);
  height: 65px;
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-left:hover li:not(:hover) {
  color: rgb(243, 243, 243);
  background: none;
}
header nav .nav-left li {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

section {
  background: rgb(243, 243, 243);
}/*# sourceMappingURL=index.css.map */