// variables
$color1: pink;
$color2: rgb(230,56,54);
$color3: cyan;
$white: rgb(240, 240, 240);
$black: rgb(29, 28, 31);

// mixins
@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}